<nb-card-body>

    <nb-card>
        <nb-card-body class="example-items-col">
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <input #country type="text" nbInput fullWidth shape="round"
                            placeholder="Enter Country Name...." value="" (change)="setCountry(country.value)">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" (click)="addToCountry()">Add</button>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>

    <nb-card>
        <nb-card-body>
            <nb-list>
                <nb-list-item *ngFor="let countryname of countryList; let i = index;">
                     <div class="row">
                         <div class="col-md-8">
                            {{countryname.id}}. {{countryname.country}}
                         </div>
                         <div class="col-md-4">
                            <nb-icon icon="trash-2" status="primary" (click)="delete(i)" [ngStyle]="{'cursor':'pointer'}"></nb-icon>
                         </div>
                     </div>
                </nb-list-item>
            </nb-list>
        </nb-card-body>
    </nb-card>

</nb-card-body>